{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
</head>
<style>
body{
    background-color: #F4F4EE;
}
.top_container{

  height:250px;
  margin:0;
}
.information_container{
    text-align:center;
}
.bottom_container{
  background-color:white;
    height:470px;
    margin:0;
  
}
.img{
  height:90px;
  width:90px;
  border-radius:100%;  
  margin-top:70px;
  margin-bottom:5px;
}
h3,h4{
  margin:5px;
}



</style>
<body>
    {%for person in persons%}
    <div class="top_container">
        <a href="{{request.META.HTTP_REFERER}}">Go back</a>
        <div class="information_container">
        <img  class="img"src="https://media.wired.com/photos/598e35994ab8482c0d6946e0/master/w_2560%2Cc_limit/phonepicutres-TA.jpg">
        <h3>{{person.first_name}}  {{person.last_name}}</h3>
        <h4>{{person.job_title}}</h4>
        </div>
        
      </div>

      <div class="bottom_container">
        <h2>{{person.birthday}}</h2>
      </div>
{%endfor%}
</body>

</html>